<section id="author_section" ng-controller="authorsController">

    <div class="panel panel-primary" ng-if="data.singleAuthors">
        <div class="panel-heading">Author</div>
        <div class="panel-body">

            <div class="col-md-8 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/400x300" class="pull-right" alt="">
                    <div class="caption">
                        <h3>{{data.author.birthName}}</h3>
                        <p>Scientist?</p>

                        <table class="table">
                            <tr>
                                <td>Nationality</td>
                                <td>{{data.author.nationality}}</td>
                            </tr>
                            <tr>
                                <td>Birth Place</td>
                                <td>{{data.author.birthPlace}}</td>
                            </tr>
                            <tr>
                                <td>Birth Date</td>
                                <td>{{data.author.birthDate}}</td>
                            </tr>
                            <!--<tr>
                                <td>Birth Place</td>
                                <td>dbo:birthPlace</td>
                            </tr>-->
                            <tr>
                                <td>occupation</td>
                                <td>{{data.author.occupation}}</td>
                            </tr>
                        </table>

                        <p>
                            <a href="#" class="btn btn-primary">Link to amazon!</a> <a href="#" class="btn btn-default">Similar books</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="panel panel-primary" ng-if="data.listOfAuthors">
        <div class="panel-heading">Author</div>
        <div class="panel-body">

            <div class="col-md-8 col-sm-6 hero-feature" ng-repeat="entry in data.authors">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{entry.birthName}}</h3>
                        <p>Scientist?</p>

                        <table class="table">
                            <tr>
                                <td>Nationality</td>
                                <td>{{entry.nationality}}</td>
                            </tr>
                            <tr>
                                <td>Birth Place</td>
                                <td>{{entry.birthPlace}}</td>
                            </tr>
                            <tr>
                                <td>Birth Date</td>
                                <td>{{entry.birthDate}}</td>
                            </tr>
                            <!--<tr>
                                <td>Birth Place</td>
                                <td>dbo:birthPlace</td>
                            </tr>-->
                            <tr>
                                <td>occupation</td>
                                <td>{{entry.occupation}}</td>
                            </tr>
                        </table>

                        <p>
                            <a href="#" class="btn btn-primary">Link to amazon!</a> <a href="#" class="btn btn-default">Similar books</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
