<section id="author_section" ng-controller="authorsController">

    <div class="panel panel-primary" ng-if="data.singleAuthor">
        <div class="panel-heading">Author</div>
        <div class="panel-body">

            <div class="col-md-8 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{data.author.birthName}}</h3>

                        <table class="table">
                            <tr>
                                <td>Birth Place</td>
                                <td>{{data.author.birthPlace}}</td>
                            </tr>
                            <tr>
                                <td>Birth Date</td>
                                <td>{{data.author.birthDate}}</td>
                            </tr>
                            <tr>
                                <td>occupation</td>
                                <td>{{data.author.occupation}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="btn btn-default" ng-click="getAuthorBooks()">Author books</a>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-default" ng-click="unsetAuthor()">Back</a>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-repeat="entry in data.author.books">
                    <div class="clearfix" ng-if="$index % 4 == 0"></div>
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img ng-if="entry.isbn.indexOf('ISBN') !== -1"
                                 src="http://covers.openlibrary.org/b/isbn/{{entry.isbn.substring(5,entry.isbn.length)}}-M.jpg " alt="">
                            <div class="caption">
                                <h3>{{entry.title}}</h3>
                                <p>{{entry.description}}</p>

                                <table class="table">
                                    <tr>
                                        <td>Author</td>
                                        <td>{{entry.author}}</td>
                                    </tr>
                                    <tr>
                                        <td>Publisher</td>
                                        <td>{{entry.publisher}}</td>
                                    </tr>
                                    <tr>
                                        <td>Subject</td>
                                        <td>{{entry.nfs}}</td>
                                    </tr>
                                    <tr ng-if="entry.isbn.indexOf('ISBN') !== -1">
                                        <td>ISBN</td>
                                        <td>{{entry.isbn.substring(5,entry.isbn.length)}}</td> <!-- clean isbn-->
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="panel panel-primary" ng-if="data.listOfAuthors">
        <div class="panel-heading">Author</div>
        <div class="panel-body">

            <div class="col-md-8 col-sm-6 hero-feature" ng-repeat="entry in data.authors">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{entry.birthName}}</h3>

                        <table class="table">
                            <tr>
                                <td>Birth Place</td>
                                <td>{{entry.birthPlace}}</td>
                            </tr>
                            <tr>
                                <td>Birth Date</td>
                                <td>{{entry.birthDate}}</td>
                            </tr>
                            <tr>
                                <td>occupation</td>
                                <td>{{entry.occupation}}</td>
                            </tr>
                            <tr>
                                <td><a href="#" class="btn btn-default" ng-click="setAuthor(entry)">Highlight</a></td>
                            </tr>
                        </table>

                        <p>
                            
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
