<section id="book_by_isbn" ng-controller="booksController">
    <div class="panel panel-primary">
        <div class="panel-heading">Book</div>
        <div class="panel-body">

            <div class="col-md-8 col-sm-6 hero-feature" ng-repeat="entry in book">
                <div class="thumbnail">
                    <img ng-if="entry.isbn.indexOf('ISBN') !== -1"
                         src="http://covers.openlibrary.org/b/isbn/{{entry.isbn.substring(5,entry.isbn.length)}}-L.jpg " alt="">
                    <div class="caption">
                        <h3>{{entry.title}}</h3>
                        <p>{{entry.description}}</p>

                        <table class="table">
                            <tr>
                                <td>Author</td>
                                <td>{{entry.author}}</td>
                            </tr>
                            <tr>
                                <td>ISBN</td>
                                <td>{{entry.isbn}}</td>
                            </tr>
                            <tr>
                                <td>Publisher</td>
                                <td>{{entry.publisher}}</td>
                            </tr>
                            <tr>
                                <td>Subject</td>
                                <td>{{entry.nfs}}</td>
                            </tr>
                            <tr ng-if="entry.isbn.indexOf('ISBN') !== -1">
                                <td>ISBN</td>
                                <td>{{entry.isbn.substring(5,entry.isbn.length)}}</td> <!-- clean isbn-->
                            </tr>
                        </table>
                        <p>
                            <a ng-if="entry.isbn.indexOf('ISBN') !== -1" href="https://www.amazon.co.uk/s/ref=sr_adv_b?search-alias=stripbooks&unfiltered=1&__mk_en_GB=%C3%85M%C3%85Z%C3%95%C3%91&field-keywords=&field-author=&field-title=&field-isbn={{entry.isbn.substring(5,entry.isbn.length)}}&field-publisher=&node=&field-binding_browse-bin=&field-subject=&emi=&field-dateop=&field-datemod=&field-dateyear=&sort=&Adv-Srch-Books-Submit.x=73&Adv-Srch-Books-Submit.y=11" class="btn btn-primary">Link to amazon!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>