<section id="book_by_isbn" ng-controller="booksController">
    <div class="panel panel-primary">
        <div class="panel-heading">Book</div>
        <div class="panel-body">

            <div class="col-md-8 col-sm-6 hero-feature" ng-repeat="entry in book">
                <div class="thumbnail">
                    <img src="http://placehold.it/400x300" alt="">
                    <div class="caption">
                        <h3>{{entry.title}}</h3>
                        <p>{{entry.description}}</p>

                        <table class="table">
                            <tr>
                                <td>Author</td>
                                <td>{{entry.author}}</td>
                            </tr>
                            <tr>
                                <td>ISBN</td>
                                <td>{{entry.data.isbn}}</td>
                            </tr>
                            <tr>
                                <td>Publisher</td>
                                <td>{{entry.publisher}}</td>
                            </tr>
                            <tr>
                                <td>Subject</td>
                                <td>{{entry.nfs}}</td>
                            </tr>
                            <!--
                            <tr>
                                <td>Wiki ID</td>
                                <td>{{entry.wikiID}}</td>
                            </tr>
                            -->
                            <!--<tr>
                                <td>References</td>
                                <td>Reference #1</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Reference #2</td>
                            </tr>
                            <tr>
                                <td>Cites</td>
                                <td>Citation #1</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Citation #2</td>
                            </tr>-->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>