<section id="books_section" ng-controller="booksController">

    <div ng-if="data.listOfBooks" class="panel panel-primary">
        <div class="panel-heading">
            Books page
            <button ng-click="findBySubject()" value="clickme">Button</button>
        </div>
        <div class="panel-body">

            <div class="col-sm-6 col-md-3" ng-repeat="entry in data.books">
                <div class="thumbnail">
                    <!--img src="http://placehold.it/400x300" alt="">-->
                    <div class="caption">
                        <h3>{{entry.title}}</h3>
                        <p>{{entry.description}}</p>

                        <table class="table">
                            <tr>
                                <td>Author</td>
                                <td>{{entry.author}}</td>
                            </tr>
                            <tr>
                                <td>Publisher</td>
                                <td>{{entry.publisher}}</td>
                            </tr>
                            <tr>
                                <td>Subject</td>
                                <td>{{entry.nfs}}</td>
                            </tr>
                            <tr>
                                <td>ISBN</td>
                                <td>{{entry.isbn}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>