<section id="home_section" ng-controller="homeController">

    <div style="margin-top: 125px; padding-bottom: 50px;" class="col-md-2 col-md-offset-4">
        <img src="/public/img/imagem.png" alt="">
    </div>

    <div class="row">
        <div class="form-group col-sm-4 col-sm-offset-3">
            <input type="text" class="form-control" id="inputQuery" placeholder="Your query" ng-model="data.queryParam">
            <!-- <label for="inputQuery" style="display:none;" data-bind="validationMessage: email, css: { error: !email.isValid() }" class="error"></label> -->
            <!-- como fazer o data-bind? -->
            <small class="text-muted">What to you wish to know more about?</small>
        </div>
        <div class="form-group col-sm-2">
            <button type="submit" class="btn btn-primary" ng-click="updateUi()">Search</button>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" ng-model="data.radio" id="books" value="books" checked="">
                    <!-- TODO corrigir ng-model -->
                    Books
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" ng-model="data.radio" id="authors" value="authors">
                    <!-- TODO corrigir ng-model -->
                    Authors
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" ng-model="data.radio" id="publishers" value="publishers">
                    <!-- TODO corrigir ng-model -->
                    Publishers
                </label>
            </div>
            <div class="check">
                <label>
                    <input type="checkbox" name="includeNonFiction" ng-model="data.check" id="includeNonFiction" value="yes">
                    <!-- TODO verificar ng-model e value -->
                    Include non-fictional books
                </label>
            </div>
        </div>
    </div>

    <dbpauthors ng-show="data.radio == 'authors'"></dbpauthors>
    <dbpbooks ng-show="data.radio == 'books'"></dbpbooks>
    <dbppublishers ng-show="data.radio == 'publishers'"></dbppublishers>


</section>