<section id="home_section" ng-controller="homeController">

    <div class="row" style="margin-top: 200px;">
        <div class="form-group col-sm-4 col-sm-offset-3">
            <input type="text" class="form-control" id="inputQuery" placeholder="Your query">
            <!-- <label for="inputQuery" style="display:none;" data-bind="validationMessage: email, css: { error: !email.isValid() }" class="error"></label> -->
            <!-- como fazer o data-bind? -->
            <small class="text-muted">What to you wish to know more about?</small>
        </div>
        <div class="form-group col-sm-2">
            <button type="submit" class="btn btn-primary">Search</button>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" ng-model="searchOptions.radio" id="booksRadioButton" value="booksRadio" checked>
                    <!-- TODO corrigir ng-model -->
                    Books
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" ng-model="searchOptions.radio" id="authorsRadioButton" value="authorsRadio">
                    <!-- TODO corrigir ng-model -->
                    Authors
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" ng-model="searchOptions.radio" id="publishersRadioButton" value="publishersRadio">
                    <!-- TODO corrigir ng-model -->
                    Publishers
                </label>
            </div>
        </div>
    </div>


</section>