<section id="home_section" ng-controller="homeController">

    <div class="row" style="margin-top: 200px;">
        <div class="form-group col-sm-4 col-sm-offset-3">
            <input type="text" class="form-control" id="inputQuery" placeholder="Your query" ng-model="data.queryParam">
            <!-- <label for="inputQuery" style="display:none;" data-bind="validationMessage: email, css: { error: !email.isValid() }" class="error"></label> -->
            <!-- como fazer o data-bind? -->
            <small class="text-muted">What to you wish to know more about?</small>
        </div>
        <div class="form-group col-sm-2">
            <button type="submit" class="btn btn-primary" ng-click="updateUi()">Search</button>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" ng-model="radio" id="books" value="books" checked>
                    <!-- TODO corrigir ng-model -->
                    Books
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" ng-model="radio" id="authors" value="authors">
                    <!-- TODO corrigir ng-model -->
                    Authors
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" ng-model="radio" id="publishers" value="publishers">
                    <!-- TODO corrigir ng-model -->
                    Publishers
                </label>
            </div>
        </div>
    </div>

    <dbpauthors ng-show="radio == 'authors'"></dbpauthors>
    <dbpbooks ng-show="radio == 'books'"></dbpbooks>
    <dbppublishers ng-show="radio == 'publishers'"></dbppublishers>


</section>