<section id="author_section" ng-controller="publishersController">
    <div class="panel panel-primary">
        <div class="panel-heading">Publisher Page</div>
        <div class="panel-body">

            <div class="col-md-8 col-sm-6 hero-feature" ng-repeat="entry in data.publishers">
                <div class="thumbnail">
                    <img src="http://placehold.it/400x300" alt="">
                    <div class="caption">
                        <h3>{{entry.publisher}}</h3>

                        <table class="table">
                            <tr>
                                <td>Name</td>
                                <td>{{entry.publisher}}</td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td>{{entry.country}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
