@{
    ViewBag.Title = "Publisher";
}


<div class="panel panel-primary">
    <div class="panel-heading">Publisher Page</div>
    <div class="panel-body">

        <div class="col-md-8 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/400x300" alt="">
                <div class="caption">
                    <h3>Publisher name</h3>

                    <table class="table">
                        <tr>
                            <td>Name</td>
                            <td>publisher name</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>publisher country</td>
                        </tr>
                    </table>

                    <p>
                        <a href="#" class="btn btn-primary">Link to amazon!</a> <a href="#" class="btn btn-default">Published books</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>