<section id="author_section" ng-controller="publishersController">

    <div class="panel panel-primary" ng-if="data.singlePublisher">
        <div class="panel-heading">Publisher</div>
        <div class="panel-body">

            <div class="col-md-8 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{data.publisher.publisher}}</h3>

                        <table class="table">
                            <tr>
                                <td>Publisher</td>
                                <td>{{data.publisher.publisher}}</td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td>{{data.publisher.country}}</td>
                            </tr>
                        </table>

                        <p>
                            <a href="#" class="btn btn-default" ng-click="getPublisherBooks()">Published books</a>
                        </p>

                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-repeat="entry in data.publisher.books">
                    <div class="clearfix" ng-if="$index % 4 == 0"></div>
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img ng-if="entry.isbn.indexOf('ISBN') !== -1"
                                 src="http://covers.openlibrary.org/b/isbn/{{entry.isbn.substring(5,entry.isbn.length)}}-M.jpg " alt="">
                            <div class="caption">
                                <h3>{{entry.title}}</h3>
                                <p>{{entry.description}}</p>

                                <table class="table">
                                    <tr>
                                        <td>Author</td>
                                        <td>{{entry.author}}</td>
                                    </tr>
                                    <tr>
                                        <td>Publisher</td>
                                        <td>{{entry.publisher}}</td>
                                    </tr>
                                    <tr>
                                        <td>Subject</td>
                                        <td>{{entry.nfs}}</td>
                                    </tr>
                                    <tr ng-if="entry.isbn.indexOf('ISBN') !== -1">
                                        <td>ISBN</td>
                                        <td>{{entry.isbn.substring(5,entry.isbn.length)}}</td> <!-- clean isbn-->
                                    </tr>
                                    <tr>
                                        <td colspan="2"><button ng-click="setBook(entry)" value="hide">Highlight</button></td>
                                    </tr>
                                    <!--<tr>
                                        <td colspan="2"><button ng-click="setBook(entry)" value="hide">Highlight</button></td>
                                    </tr>-->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="panel panel-primary" ng-if="data.listOfPublishers">
        <div class="panel-heading">Publisher Page</div>
        <div class="panel-body">

            <div class="col-md-8 col-sm-6 hero-feature" ng-repeat="entry in data.publishers">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{entry.publisher}}</h3>

                        <table class="table">
                            <tr>
                                <td>Name</td>
                                <td>{{entry.publisher}}</td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td>{{entry.country}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
